/* sidebar */

.sidebar1 {
  display: flex;
  flex-direction: column;

  align-items: center;
  /* justify-content: center; */

  position: absolute;
  top: 0px;
  bottom: 0px;
  left: 0px;

  width: 4%;

  padding-top: 50px;

  background-color: rgb(0, 0, 0);
}

/* Iconita discord */

.discord-sv {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-bottom: 10px;

  margin-left: -3%;

  padding: 1px;

  background-color: rgb(27, 27, 27);

  padding: 7px;

  border-radius: 7px;
}

.discord-sv img {
  width: 35px;
  height: 35px;
  object-fit: cover;
}

/* Servere */

.server {
  margin-left: -5%;
  background-color: red;

  display: flex;
  align-items: center;
  justify-content: center;

  position: relative;

  margin-bottom: 5px;

  cursor: pointer;

  padding: 6px;

  border-radius: 615px;

  background-color: rgb(0, 0, 0);
}

.server img {
  width: 45px;
  height: 45px;
  object-fit: cover;

  border-radius: 50px;
}

.other-server {
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  color: rgb(255, 255, 255);

  border-radius: 25px;

  margin-bottom: 10px;

  cursor: pointer;

  border: 15px;

  margin-left: -5%;

  background-color: rgb(27, 27, 27);

  padding: 13px 10px;

  /* padding: 13px 21px; */
}

.other-server img {
  width: 120%;
  height: 120%;

  border-radius: 17px;
}

/* hover and transition properties */

.discord-sv,
.other-server,
.server {
  transition: background-color 0.15s;
  cursor: pointer;
}

.discord-sv:hover,
.other-server:hover {
  background-color: rgb(73, 71, 228);
  /* background-color: red; */
}

.server:hover {
  background-color: rgb(49, 49, 49);
}

/* configurating tooltips */
