.server .tooltip,
.discord-sv .tooltip,
.other-server .tooltip,
.plus-server .tooltip {
  position: absolute;

  left: 110%;

  padding: 8px;
  border-radius: 14px;

  color: white;
  background-color: rgb(32, 32, 32);

  transition: opacity 0.25s;
  opacity: 0;

  pointer-events: none;

  z-index: 1001;

  text-wrap: nowrap;

  font-size: 15px;
}

/* Personalizing every .tooltip */

.server:hover .tooltip,
.plus-server:hover .tooltip,
.discord-sv:hover .tooltip,
.other-server:hover .tooltip {
  opacity: 1;
}
